.navbar {
	margin-bottom: 0px;
}

body {
	color: #fff;
	background-image:url('greywall.png');
}

.signup {
	background-image:url('musicshow.jpg');
	background-repeat:no-repeat;
	background-size: 100% 100%;
	height: 750px;
}

.title {
	padding-left: 120px;
	margin-top: 240px;
}

.title h1 {
	width: 200px;
}

.title p {
	width: 400px;
}

.signupform {
	padding-left: 360px;
	width: 300px;
	margin-top: 140px;
}

#demo-1 img {
	-webkit-transform: scale(1);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms;
}
#demo-1 img:hover{
	-webkit-transform: scale(.5);
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-duration: 500ms;
}

	
.playmusic {
	display: block;
	
	padding-top: 50px;
}

.playmusic h3 {
	display: block;
	margin-left: 433px;
	margin-bottom: 58px;

}

iframe {
	margin-bottom: 100px;
	margin-left: 251px;
}

.profiles img {
	width: 1285px;
}

.user {
	float: left;
	display: inline-block;
	margin-top: 50px;
	margin-right: 213px;
	margin-bottom: 66px;
}

.usermusic {
	float: left;
	display: inline-block;
	margin-top: 50px;
	margin-right: 113px;
}

.btn2 {
 height: 90px;
 width: 90px;
}









